<h1>New Message</h1>

<%=  form_for @message, :url =>  messages_path do |f|%>

<div>
    <%= f.label :name %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, size: '60x6' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<%= link_to 'Back', messages_path %>
<%end%>